table, th, td {
    border: 1px solid;
}

table{
    margin-top: 25vh;
    width: 15vw;
    height: 35vh;
    border-spacing: 15px;
}

td{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightgrey;
}